<footer>
    <section>
        <div>
        <h4>CONTACTO</h4>
        <a href="#"><p>contacto@digital4tech.com</p></a>
        <p>+54 911 9876 1234</p>
        <p>Av. Rivadavia 1234, CABA -  Buenos Aires</p>
        </div>
        <div>
        <h4>SEGUINOS</h4>
        <div class="rrss">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
        </div>
        <div class="logoFooter">
            <h4><img src="img/logo_grey.svg" alt=""></h4>
            <p>Sitio web realizado por <span>Grupo4</span> Digital House</p>
        </div>
    </section>
</footer>