<header>
    <nav class="menu1">
        <div class="iconBurgerMobile"><a href="#"><img src="img/icon_burger.svg" alt=""></a> </div>
        <div class="iconSearchMobile"><a href="#"><img src="img/icon_search.svg" alt=""></a></div>
        <div class="logo"><a href="/index"><img src="img/logo.svg" alt=""></a></div>

        <nav class="menu2">
            <div class="seccionActiva"><a href="/index">HOME</a></div>
            <div><a href="/productDetail">PC <i class="fa-solid fa-angle-down"></i></a></div>
            <div><a href="#">ACCESORIOS <i class="fa-solid fa-angle-down"></i></a></div>
            <div><a href="#">NOSOTROS</a></div>
            <div><a href="#">CONTACTO</a></div>
        </nav>

        <form>
            <div class="barraDeBusqueda">
                <input type="text" placeholder="Buscar productos">
                <button><i class="fas fa-search"></i></button>
            </div>
        </form>
        <div><a href="/login"><img src="img/icon_login.svg" alt=""><span>INGRESAR</span></a></div>
        <div><a href="/productCart"><img src="img/icon_shop.svg" alt=""><span>CARRITO</span></a></div>
    </nav>
</header>