<!DOCTYPE html>
<html lang="en">

<head>
<%- include ('../partials/head') %>
 <!-- /////// CARGA CSS  PARTICULAR/////// -->
</head>

    <body>
      <h1>Listado de PC</h1>
      <ul>
        <% for ( let i = 0; i < productos.length; i++) { %> 
          <li>
              <%=productos[i].titulo%>
          </li>
          <% } %> 
      </ul>
    </body>

</html>