<!DOCTYPE html>
<html lang="en">

<head>
<%- include ('../partials/head') %>
<!-- /////// CARGA CSS  PARTICULAR/////// -->
<link rel="stylesheet" href="/css/stylesCarrito.css">
</head>
    <body>

        <%- include ('../partials/header') %>


            <main class="mainCart">
                <div class="subtotalFijo">SUBTOTAL <span>$759.599</span></div>
                <div class="contenedorSeccion">
                    <div class="contenedorTitulo">
                        <h1>CARRITO DE COMPRAS</h1>
                        <h3>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </h3>
                    </div>

            <!-- ///////////////////////////////////////////// ARTICULO  ///////////////////////////////////////////// -->

            <article class="productoEnLista">

                <div class="fotoProducto_C"><img src="/img/productos_pcArmadas/pcArmada_01.jpg"
                        alt="Pc Armada 01"></div>

                <div class="detallesProductoListado">
                    <div class="nombreYCaracteristicas">
                        <div class="txtMagenta">PC SSD MSI P33</div>
                        <div class="caracteristicas_C">I7//GF1050TI//1000 tb HD</div>
                    </div>



                    <div class="precioUnitario">
                        <div>Precio unitario: <span>$3.000 </span></div>
                    </div>


                    <div class="precioYCantidades">

                        <div class="precio_C">$100.000</div>


                        <div class="contenedorCantidadesBorrar">
                            <div class="selectorCantidades">
                                <form action=""> 
                                    <select name="cantidad">
                                        <option value="1">1 unidad</option>
                                        <option value="2">2 unidades</option>
                                        <option value="3">3 unidades</option>
                                        <option value="4">4 unidades</option>
                                        <option value="5">5 unidades</option>
                                        <option value="6">6 unidades</option>
                                        <option value="7">7 unidades</option>
                                        <option value="8">8 unidades</option>
                                        <option value="9">9 unidades</option>
                                        <option value="10">10 unidades</option>
                                    </select>
                                
                                </form>
                            </div>
                            
                            <div class="btnEliminarMobile">
                                <i class="fa-solid fa-circle-xmark"></i>
                                <div class="txtMagenta">Eliminar</div>
                            </div>
                        </div>

                    </div>
                    <div class="btnEliminar">
                        <i class="fa-solid fa-circle-xmark"></i>
                        <span class="txtMagenta">Eliminar</span>
                    </div>

            </article>
            <!-- ///////////////////////////////////////////// ARTICULO  ///////////////////////////////////////////// -->

            <article class="productoEnLista">

                <div class="fotoProducto_C"><img src="/img/productos_pcArmadas/pcArmada_01.jpg"
                        alt="Pc Armada 01"></div>

                <div class="detallesProductoListado">
                    <div class="nombreYCaracteristicas">
                        <div class="txtMagenta">PC SSD MSI P33</div>
                        <div class="caracteristicas_C">I7//GF1050TI//1000 tb HD</div>
                    </div>



                    <div class="precioUnitario">
                        <div>Precio unitario: <span>$3.000 </span></div>
                    </div>


                    <div class="precioYCantidades">

                        <div class="precio_C">$100.000</div>


                        <div class="contenedorCantidadesBorrar">
                            <div class="selectorCantidades">
                                <form action=""> 
                                    <select name="cantidad">
                                        <option value="1">1 unidad</option>
                                        <option value="2">2 unidades</option>
                                        <option value="3">3 unidades</option>
                                        <option value="4">4 unidades</option>
                                        <option value="5">5 unidades</option>
                                        <option value="6">6 unidades</option>
                                        <option value="7">7 unidades</option>
                                        <option value="8">8 unidades</option>
                                        <option value="9">9 unidades</option>
                                        <option value="10">10 unidades</option>
                                    </select>
                                
                                </form>
                            </div>
                            
                            <div class="btnEliminarMobile">
                                <i class="fa-solid fa-circle-xmark"></i>
                                <div class="txtMagenta">Eliminar</div>
                            </div>
                        </div>

                    </div>
                    <div class="btnEliminar">
                        <i class="fa-solid fa-circle-xmark"></i>
                        <span class="txtMagenta">Eliminar</span>
                    </div>

            </article>

            <!-- ///////////////////////////////////////////// ARTICULO  ///////////////////////////////////////////// -->

            <article class="productoEnLista">

                <div class="fotoProducto_C"><img src="/img/productos_pcArmadas/pcArmada_01.jpg"
                        alt="Pc Armada 01"></div>

                <div class="detallesProductoListado">
                    <div class="nombreYCaracteristicas">
                        <div class="txtMagenta">PC SSD MSI P33</div>
                        <div class="caracteristicas_C">I7//GF1050TI//1000 tb HD</div>
                    </div>



                    <div class="precioUnitario">
                        <div>Precio unitario: <span>$3.000 </span></div>
                    </div>


                    <div class="precioYCantidades">

                        <div class="precio_C">$100.000</div>


                        <div class="contenedorCantidadesBorrar">
                            <div class="selectorCantidades">
                                <form action=""> 
                                    <select name="cantidad">
                                        <option value="1">1 unidad</option>
                                        <option value="2">2 unidades</option>
                                        <option value="3">3 unidades</option>
                                        <option value="4">4 unidades</option>
                                        <option value="5">5 unidades</option>
                                        <option value="6">6 unidades</option>
                                        <option value="7">7 unidades</option>
                                        <option value="8">8 unidades</option>
                                        <option value="9">9 unidades</option>
                                        <option value="10">10 unidades</option>
                                    </select>
                                
                                </form>
                            </div>
                            
                            <div class="btnEliminarMobile">
                                <i class="fa-solid fa-circle-xmark"></i>
                                <div class="txtMagenta">Eliminar</div>
                            </div>
                        </div>

                    </div>
                    <div class="btnEliminar">
                        <i class="fa-solid fa-circle-xmark"></i>
                        <span class="txtMagenta">Eliminar</span>
                    </div>

            </article>

            <!-- ///////////////////////////////////////////// ARTICULO  ///////////////////////////////////////////// -->

            <article class="productoEnLista">

                <div class="fotoProducto_C"><img src="/img/productos_pcArmadas/pcArmada_01.jpg"
                        alt="Pc Armada 01"></div>

                <div class="detallesProductoListado">
                    <div class="nombreYCaracteristicas">
                        <div class="txtMagenta">PC SSD MSI P33</div>
                        <div class="caracteristicas_C">I7//GF1050TI//1000 tb HD</div>
                    </div>



                    <div class="precioUnitario">
                        <div>Precio unitario: <span>$3.000 </span></div>
                    </div>


                    <div class="precioYCantidades">

                        <div class="precio_C">$100.000</div>


                        <div class="contenedorCantidadesBorrar">
                            <div class="selectorCantidades">
                                <form action=""> 
                                    <select name="cantidad">
                                        <option value="1">1 unidad</option>
                                        <option value="2">2 unidades</option>
                                        <option value="3">3 unidades</option>
                                        <option value="4">4 unidades</option>
                                        <option value="5">5 unidades</option>
                                        <option value="6">6 unidades</option>
                                        <option value="7">7 unidades</option>
                                        <option value="8">8 unidades</option>
                                        <option value="9">9 unidades</option>
                                        <option value="10">10 unidades</option>
                                    </select>
                                
                                </form>
                            </div>
                            
                            <div class="btnEliminarMobile">
                                <i class="fa-solid fa-circle-xmark"></i>
                                <div class="txtMagenta">Eliminar</div>
                            </div>
                        </div>

                    </div>
                    <div class="btnEliminar">
                        <i class="fa-solid fa-circle-xmark"></i>
                        <span class="txtMagenta">Eliminar</span>
                    </div>

            </article>



                    <div class="subtotal"><span>SUBTOTAL</span>$759.599</div>

                    <div class="contenedorBoton">
                        <form action="">
                            <button class="btnPrincipal">COMPRAR <span class="txtMagenta">//</span></button>
                        </form>
                    </div>



                </div>

            </main>
            <%- include ('../partials/footer') %>
    </body>

</html>