<!DOCTYPE html>
   <html lang="en">
   <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="./css/normalize.css">
        <link rel="stylesheet" href="./css/stylesHome.css">
        <link rel="stylesheet" href="./css/stylesHeaderFooter.css">
        
        <script src="https://kit.fontawesome.com/2a3f2150aa.js" crossorigin="anonymous"></script>
        <title>Digital 4 Tech</title>  
   </head>
   <body>
    <header>
        <nav class="menu1">
          <div class="iconBurgerMobile"><a href="#"><img src="img/icon_burger.svg" alt=""></a> </div>
          <div class="iconSearchMobile"><a href="#"><img src="img/icon_search.svg" alt=""></a></div>
          <div class="logo"><a href="./home.html"><img src="img/logo.svg" alt=""></a></div>
    
          <nav class="menu2">
            <div class="seccionActiva"><a href="./home.html">HOME</a></div>
            <div><a href="./productDetail.html">PC <i class="fa-solid fa-angle-down"></i></a></div>
            <div><a href="#">ACCESORIOS <i class="fa-solid fa-angle-down"></i></a></div>
            <div><a href="#">NOSOTROS</a></div>
            <div><a href="#">CONTACTO</a></div>
          </nav>
    
    
    
            <form>
              <div class="barraDeBusqueda">
                <input type="text" placeholder="Buscar productos">
                <button><i class="fas fa-search"></i></button>
              </div>
            </form>
            <div><a href="./login.html"><img src="img/icon_login.svg" alt=""><span>INGRESAR</span></a></div>
            <div><a href="./carrito.html"><img src="img/icon_shop.svg" alt=""><span>CARRITO</span></a></div>
        </nav>
      </header>
        
         <main>
            <div class="carrusel">
                <!--Aca va a ir el carrusel-->
                <img src="./img/banner_home.jpg" alt="Imagen 1 del carrusel">
            </div>
            <div class="main-container">
              <h2 class="seccion-productos">Computadoras Armadas <span class="en-magenta"> //</span></h2>
              <div class="container productos-container">
                <i class="fas fa-angle-left en-magenta"></i>
                  <div class="card compu1">
                      <img src="./img/productos_pcArmadas/pc6.jpeg" alt="Computadora">
                      <p>AMD Ryzen 9 5900X CPU, 16 GB DDR4-3200 RGB RAM, GeForce RTX 3080 10 GB, 1TB M.2 MN Me SSD</p>
                      <button class="button-main info"><a href="#">INFO <span class="en-magenta"> > </span></a> </button>
                      <div class="precio">  
                        <p>Efectivo</p>
                        <p class="en-magenta"> <b>$80.000</b></p>
                      </div>
                  </div>
                  
                  <div class="card compu2">
                      <img src="./img/productos_pcArmadas/pc10.jpeg" alt="Computadora">
                      <p>AMD Ryzen 9 5900X CPU, 16 GB DDR4-3200 RGB RAM, GeForce RTX 3080 10 GB, 1TB M.2 MN Me SSD</p>
                      <button class="button-main info"><a href="#">INFO <span class="en-magenta"> > </span></a> </button>
                      <div class="precio">  
                        <p>Efectivo</p>
                        <p class="en-magenta"> <b>$80.000</b></p>
                      </div>
                  </div>

                  <div class="card compu3">
                      <img src="./img/productos_pcArmadas/pc5.jpeg" alt="Computadora">
                      <p>AMD Ryzen 9 5900X CPU, 16 GB DDR4-3200 RGB RAM, GeForce RTX 3080 10 GB, 1TB M.2 MN Me SSD</p>
                      <button class="button-main info"><a href="#">INFO <span class="en-magenta"> > </span></a> </button>
                      <div class="precio">  
                        <p>Efectivo</p>
                        <p class="en-magenta"> <b>$80.000</b></p>                          
                      </div>
                  </div>

                  <div class="card compu4">
                      <img src="./img/productos_pcArmadas/pc7.jpeg" alt="Computadora">
                      <p>AMD Ryzen 9 5900X CPU, 16 GB DDR4-3200 RGB RAM, GeForce RTX 3080 10 GB, 1TB M.2 MN Me SSD</p>
                      <button class="button-main info"><a href="#">INFO <span class="en-magenta"> > </span></a> </button>
                      <div class="precio">  
                          <p>Efectivo</p>
                          <p class="en-magenta"> <b>$80.000</b></p>
                      </div>
                  </div>
                  <i class="fas fa-angle-right en-magenta"></i>
              </div>

            
              <h2 class="seccion-productos">ACCESORIO <span class="en-magenta"> //</span> </h2>
              <div class="container accesorios-container">
                <i class="fas fa-angle-left en-magenta"></i>
                  <div class="card accesorio1">
                      <img src="./img/productos_accesorios/Accesorios_mouse.jpg" alt="Mouse">
                      <button class="button-main"><a href="#">MOUSE <span class="en-magenta"> > </span></a> </button>
                      
                  </div>

                  <div class="card accesorio2">
                      <img src="./img/productos_accesorios/Accesorios_teclados.jpg" alt="Teclados">
                      <button class="button-main"><a href="#">TECLADOS <span class="en-magenta"> > </span> </a> </button>
                      
                  </div>

                  <div class="card accesorio3">
                    <img src="./img/productos_accesorios/Accesorios_auriculares.jpg" alt="Auriculares">
                      <button class="button-main"><a href="#">AURICULARES<span class="en-magenta"> > </span></a> </button>
                      
                  </div>

                  <div class="card accesorio4">
                      <img src="./img/productos_accesorios/Accesorios_Sillas.jpg" alt="Sillas">
                      <button class="button-main"><a href="#">SILLAS <span class="en-magenta"> > </span> </a> </button>
                      
                  </div>
                  <i class="fas fa-angle-right en-magenta"></i>
              </div>         
            </div>        
            <div class="publicidad-descuento">
                
                <p class="en-negro">INGRESA EL CODIGO</p>
                <p><b>OTOÑO 2022</b></p>
                <p>Y OBTEN UN 5% DE DESCUENTO </p>             
                <p class="en-negro"> *EN COMPRAS SUPERIORES A LOS $20.000</p>
                
            </div>
            <div class="publicidad-subs">
                <p>
                <span class="en-negro"><b>SUSCRIBITE A NUESTRO</b></span>
                <span class="en-blanco"><b>NEWSLETTER</b></span>
                </p>
                <p>
                 <span class="en-blanco"><b>Y RECIBÍ TODAS LAS OFERTAS</b></span>
                </p>
                <form action="/registro" method="POST">                           
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email">
                    <br>
                    <button type="submit" style="color: aliceblue;">SUSCRIBIRME <span class="en-magenta"> ></span></button>
                </form>
                   
            </div>
        </main>
        <footer>
            <section>
            <div>
              <h4>CONTACTO</h4>
              <a href="#"><p>contacto@digital4tech.com</p></a>
              <p>+54 911 9876 1234</p>
              <p>Av. Rivadavia 1234, CABA -  Buenos Aires</p>
            </div>
            <div>
              <h4>SEGUINOS</h4>
              <div class="rrss">
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
            </div>
            <div class="logoFooter">
              <h4><img src="img/logo_grey.svg" alt=""></h4>
              <p>Sitio web realizado por <span>Grupo4</span> Digital House</p>
            </div>
          </section>
          </footer>
        
   </body>
</html>