<!DOCTYPE html>
   <html lang="en">
   <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="/public/css/normalize.css">
        <link rel="stylesheet" href="/public/css/stylesHome.css">
        
        <script src="https://kit.fontawesome.com/2a3f2150aa.js" crossorigin="anonymous"></script>
        <title>Digital 4 Tech</title>  
   </head>
   <body>
        
         <main>
            <div class="carrusel">
                <!--Aca va a ir el carrusel-->
                <img src="/public/img/bannerHome_slide1.jpg" alt="Imagen 1 del carrusel">
            </div>
            <div class="productosHome"> <!--Se puede hacer con 2 carruseles-->
                <h2 class="seccion-productos">Computadoras Armadas <span class="en-magenta"> //</span></h2>
                <article class="productos-home">
                    <div class="computadoras">
                        <img src="/public/img/productos_pcArmadas/pc 1.jpeg" alt="PC 1">
                    </div>
                    <div class="computadoras">
                        <img src="/public/img/productos_pcArmadas/pc 2.jpeg" alt="PC 2">
                    </div>
                    <div class="computadoras">
                        <img src="/public/img/productos_pcArmadas/pc 5.jpeg" alt="PC 3">
                    </div>
                </article>
                <h2 class="seccion-productos">Accesorios <span class="en-magenta"> //</span></h2>
                <article class="productos-home">
                    <div class="accesorios">
                        <img src="/public/img/productos_pcArmadas/pc 10.jpeg" alt="Mouse"><!--Buscar las imagenes que corresponden y modificar-->
                    </div>
                    <div class="accesorios">
                        <img src="/public/img/productos_pcArmadas/pc 5.jpeg" alt="Teclado"><!--Buscar las imagenes que corresponden y modificar-->
                    </div>
                    <div class="accesorios">
                        <img src="/public/img/productos_pcArmadas/pc 9.jpeg" alt="Auriculares"><!--Buscar las imagenes que corresponden y modificar-->
                    </div>
                </article>
            </div>
            <div class="publicidad-descuento">
                <h2>
                    <span class="en-negro">INGRESA EL CODIGO</span><br>
                    <span class="en-blanco"><b>OTOÑO 2022</b></span><br>
                    <span class="en-blanco">Y OBTEN UN 5% DE DESCUENTO</span><br>
                </h2>
                <h4><span class="en-negro">*EN COMPRAS SUPERIORES A LOS $20.000</span>
                </h4>
            </div>
            <div class="publicidad-subs">
                <h2>
                    <span class="en-negro"><b>SUSCRIBITE A NUESTRO</b></span>
                    <span class="en-blanco"><b>NEWSLETTER</b></span>
                </h2>
                <h3>
                    <span class="en-blanco"><b>Y RECIBÍ TODAS LAS OFERTAS</b></span>
                </h3>
                <form action="/registro" method="POST">                           
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email">
                    <br>
                    <button type="submit">SUSCRIBIRME ></button>
                </form>
                   
            </div>
        </main>
        
   </body>
</html>