
   <!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="/Grupo_4_Digital4Tech/public/css/normalize.css">
        <link rel="stylesheet" href="/Grupo_4_Digital4Tech/public/css/styles.css">
        <script src="https://kit.fontawesome.com/2a3f2150aa.js" crossorigin="anonymous"></script>
       <title>Digital 4 Tech</title>  
   </head>
   <body>
        <header class="main-header">
            
            <div class="menu">
                <a href="#" class="menu-burger"><img src="/Grupo_4_Digital4Tech/public/img/icon_burger.svg" alt="menu hamburgesa"></a>
            </div>
            <div class="lupa">
                <a href="#" class="buscar"><img src="/Grupo_4_Digital4Tech/public/img/icon_search.svg" alt="Buscar"></a>
            </div>
            <div class="main-header-top">
                <a href="#"><img src="/Grupo_4_Digital4Tech/public/img/logo.svg" alt="Logo" class="logo"></a>
            </div>
            <div class="login">
                <a href="#" class="login-i"><img src="/Grupo_4_Digital4Tech/public/img/icon_login.svg" alt="logear"></a>
            </div>
            <div class="carrito">
                <a href="#" class="carrito-compra"><img src="/Grupo_4_Digital4Tech/public/img/icon_shop.svg" alt="Compras"></a>
            </div>
            <nav class="main-navbar burger-botton">
                <ul class="menu-principal">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">PC</a></li>
                    <li><a href="#">ACCESORIOS</a></li>
                    <li><a href="#">NOSOTROS</a></li>
                    <li><a href="#">CONTACTO</a></li>
                </ul>
                <ul class="menu-secundario">
                    <li><a href="#">Mi cuenta</a></li>
                    <li><a href="#">Carrito</a></li>
                    <li><a href="#">Buscar</a></li>
                    <li><a href="#">Cerrar menu</a></li>
                </ul>
            </nav>
        </header>
         <main>

        </main>
        <footer>

        </footer>
   </body>
   </html>
