<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('./partials/head') %>
<!-- /////// CARGA CSS  PARTICULAR/////// -->
<link rel="stylesheet" href="/css/stylesIndex.css">
</head>

    <body>
        <%- include ('./partials/header') %>
        
        <div style="height: 800px; text-align:center">NO ANDA!</div>


            <%- include ('./partials/footer') %>
    </body>

</html>