<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('./partials/head') %>
<!-- /////// CARGA CSS  PARTICULAR/////// -->
<link rel="stylesheet" href="/css/stylesIndex.css">
</head>

    <body>
        <!-- <%- include ('./partials/header') %> -->
        
        <img src="/img/404.jpg" class="error404">

        <!-- <%- include ('./partials/footer') %> -->
    </body>

</html>