<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/stylesRegister.css">
    <script src="https://kit.fontawesome.com/2a3f2150aa.js" crossorigin="anonymous"></script>
    <title>Digital 4 Tech - Register</title>
</head>

<body>
    <main>
        <div class="controlGeneral">
            <h2> Registrarse</h2>
            <p>Completa la siguiente información para poder registrarse en nuestro sitio Web</p>
            <hr>
            <br>
            <form>
                <div class="campoFormulario">
                    <label for="nombre"> Nombre: </label>
                    <input required="required" type="text" id="nombre" name="nombre" placeholder="Juan" maxlength="25" class="controlFormulario">
                </div>
                <div class="campoFormulario">
                    <label for="apellido"> Apellido: </label>
                    <input required="required" type="text" id="apellido" name="apellido" placeholder="Lopéz" maxlength="20"class="controlFormulario">
                </div>
                <div class="campoFormulario">
                    <label for="mail"> Email: </label>
                    <input required="required" type="email" id="email" name="email" placeholder="user@digital4.com.ar" class="controlFormulario">
                </div>
                <div class="campoFormulario">
                    <label for="mail"> Repetir Email: </label>
                    <input required="required" type="confirmarEmail" id="confirmarEmail" name="confirmarEmail" placeholder="user@digital4.com.ar" class="controlFormulario">
                </div>
                <div class="campoFormulario">
                    <label for="usuario"> Usuario: </label>
                    <input required="required" type="text" id="usuario" name="usuraio" placeholder="Digital4" class="controlFormulario">
                </div>
                <div class="campoFormulario">
                    <label for="contrasena"> Contraseña: </label>
                    <input required="required" type="password" id="contrasena" name="contrasena" minlength="6" class="controlFormulario">
                </div>
                <div class="campoFormulario">
                    <label for="confirmarContrasena"> Repetir Contraseña: </label>
                    <input required="required" type="password" id="confirmarContrasena" name="confirmarContrasena" minlength="6" class="controlFormulario">
                </div>
                <div class="botones">
                    <button class="contenedorBotones" type="submit"> Registrarse </button>
                    <button class="contenedorBotones" type="reset"> Borrar </button>
                </div>
            </form>
        </div>
        
    </main>
    <footer>

    </footer>
</body>

</html>