.slider img{
    width: 100%;
    max-width: 1024px;   
}

.slider {
    margin: 0 auto;
    text-align: center;
    background-color: #131313;
}

.mainIndex h2{
text-align: center;
margin: 40px;
}

.mainIndex .carruselPcArmadas, .carruselAccesorios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
   
}

.mainIndex .contenedorArticulos{
    display: flex;
    flex-wrap: wrap;
    max-width: 240px;
    border-right:1px solid #d7d7d7;
    text-align: right;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}

.mainIndex .fotoProducto img{
    width: 100%;
}

.mainIndex .fotoProducto{
    width: 60%;
}
.mainIndex .contenedorPrecioBtn{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.mainIndex .iconosMarcas img{
    max-width: 50px;
}

.mainIndex .caracteristicas{
    text-align: center;
}

.mainIndex .iconosMarcas{
    padding-top: 20px;
}

.mainIndex .btnPrincipal{
    letter-spacing: 1px;
    padding: 5px;
    width: 80%;
}


.mainIndex .precioPcArmada{
    width: 100px;
    padding-right:15px ;
}

.mainIndex .precioPcArmada span{
    font-weight: 800;
    color: #e31a52;
    font-size: 16px;
}

.mainIndex .nombrePC{
    color: #e31a52;
    font-weight: 400;
}


.mainIndex .carruselAccesorios .contenedorArticulos{
    display: block;
}

.mainIndex .carruselAccesorios .contenedorArticulos .fotoProducto{
    margin: 0 auto;
    text-align: center;
}

.mainIndex .carruselAccesorios .contenedorPrecioBtn{
    width: 100%;
}

.admin .btnPrincipal, .admin .btnSecundario {
    width: auto;
    padding: 10px 15px;
    margin: 15px ;
}


.admin .btnPrincipal i, .admin .btnSecundario i{
    margin-right: 5px;
}


/* ////////////////////////////// ANUNCIOS ////////////////////////////// */
 .contenedorAnuncios{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 
}

 .anuncio1{
    background-color: #e31a52;
    width: 100%;
    padding:10%;
    text-align: center;
    align-self: stretch;
}


 .contenedorAnuncios .bajadaAnuncio{
    font-size: 25px;
   color: #fff;
}

 .anuncio1 h2 p {
    line-height: 0px;
    margin: 25px;
    color: #fff;
}

 .anuncio2{
    background-color: #9999;
    width: 100%;
    padding:10%;
    text-align: center;
    align-self: stretch;
    
}

 .anuncio2 input {
    margin: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px 20px;
    text-align: center;
    width: 80%;
}

.contenedorAnuncios h2{
    font-size: 40px;
}
.contenedorAnuncios h3{
    line-height: 0px;
    margin-top: -10px;
    font-weight: 200;
}

 .anuncio2 h2 span{
 color: #fff;
}

.datosdinamicos{
    display: flex;
}





/* ////////////////// MEDIA QUERYS ////////////////////////////// */


@media (min-width: 768px){
    .anuncio2, .anuncio1{
        width: 50%;
    }
}