/* ////////////////// GENERAL ////////////////////////////// */

*{
    box-sizing: border-box;  
}

body{
    font-family: 'Oswald', sans-serif; 
}

.seccionIN{
    font-weight: 200;
    letter-spacing: 3px;
    margin: 20px;
}

.txtMagenta{
    color: #e31a52;
}

.grisesSecundarios{
    color: #666;
    font-size: 16px;
    font-weight: 200;
}
a:link, a:visited, a:active {
    text-decoration:none;
}

.contenedorPrecio a:hover {
    color: #000;
}

/* ///////////////////// FIN GENERAL //////////////////////// */
/*/////////////////ESTILOS LOGIN /////////////////*/
main.log {
    color: #fff;
    margin: 20px 0px;
    padding: 50px;
}
.iconoLogin {
    width: 10%;
    margin: auto;
    text-align: center;
    display: block;
}
.contenedorTitulo{
    font-weight: 300;
    margin: 30px;
}
.tituloSeccion{
    color: #e31a52;
    font-size: 35px;
    text-align: center;
}
.contenedorBoton{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction:column;
    margin-bottom: 20px;
    border-radius: 20px;
    margin: 1% 0;
}
.completar-login {
    border-color: #666;
    border-radius: 20px;
    border-width: 1px;
    font-size: 16px;
    font-weight: 100;
    height: 40px;
    margin: 1% 0;
    width: 80%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ingresar:hover {
    background-color: #484747;
    cursor: pointer;
    transform: scale(1.01);
}
.ingresar {
    background-color: #040404;
    color: #FFF;
    border-color: transparent;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 150;
    height: 40px;
    padding: 0 10%;
    text-align: center;
    margin: 0 0;
    align-self: center;
    width: 50%;
    margin-top: 30px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1%;
}
.crear-cuenta {
    background-color: transparent;
    color: #e31a52;
    border-color: transparent;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    padding: 0 10%;
    text-align: center;
    margin: 0 0;
    align-self: center;
    width: 50%;
    margin-top: 30px;
    margin: 0 auto;
    text-align: center;
}
a {
    color: #e31a52;
}
.crear-cuenta:hover {
    cursor: pointer;
}
a:hover {
    color: rgb(10, 10, 10);
}
.borrar {
    background-color: #e31a52;
    color: #FFF;
    border-color: transparent;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 150;
    height: 40px;
    padding: 0 10%;
    text-align: center;
    margin: 0 0;
    align-self: center;
    width: 50%;
    margin-top: 30px;
    margin: 0 auto;
    text-align: center;
    transition: all 500ms;
}
.borrar:hover {
    background-color: #f99eb8;
    cursor: pointer;
    transform: scale(1.01);
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*////////////////FIN ESTILO LOGIN //////////////////*/
@media (max-width: 768px){
    .contenedorBoton {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ingresar,
    .borrar {
        width: 90%;
        margin: 10px 0px;
    }
}