/* ////////////////// GENERAL ////////////////////////////// */



footer{
    background-color: black;
    color: #FFFFFF;
    font-weight: 200;
}


footer section {
    margin: 0 auto;
    text-align: center;
    max-width: 1024px;
    padding:20px;
}

footer div span {
    color: #e31a52;
}

.logoFooter img{
    max-width: 150px;
    margin-top: 20px;
   
}

.rrss i{
margin: 0 20px;
}


footer div {
    border-bottom: #333 solid 1px;
    padding: 20px 0px;
}

.rrss{
    border:none;
    margin: 10px 0px;
}

@media (min-width: 768px){
    

    footer section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer div {
        border:none;
    }

}