.mainCart .precio_C, .subtotal{
    color: #e31a52;
    font-size: 35px;
    margin: 10px 0px;
}

.mainCart .precio_C{
    text-align: right;
}

.mainCart .subtotal{
    margin: 30px 0px;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
}

.mainCart .subtotal span{
    font-size: 20px;
    margin-right: 10px;
    text-align: center;

}

.mainCart .contenedorTitulo{
    margin: 30px;
}


.mainCart .contenedorBoton{
    margin: 0 auto;
    text-align: center;
}

.mainCart .contenedorCantidadesBorrar{
    display: flex;
    align-items: center;
    height: 30px;
    text-align: right;
    justify-content: center;
}

.mainCart .fotoProducto_C img{
    width: 100%;
    max-height: 180px;
}

.mainCart .detallesProductoListado{
    text-align: right;
    padding-top:30px;
}

.mainCart .productoEnLista{
    display: flex;
    flex-wrap: nowrap;
    border-bottom: #e31a52 1px solid;
    margin: 10px;
    padding: 20px 0px;
    justify-content: space-around;
    align-items: center;
}

.mainCart .fa-circle-xmark{
    color: #e31a52;
    font-size: 20px;
}


.mainCart .btnEliminarMobile .fa-circle-xmark{
    margin-right: 5px;
}

.mainCart .btnEliminar{
    display: none;
}

.mainCart .btnEliminarMobile{
    display: flex;
    align-content: center;
}

.mainCart .precioUnitario{
    display: none;
}

.mainCart .subtotalFijo{
    display: none;
}




/* ////////////////// MEDIA QUERYS ////////////////////////////// */


@media (min-width: 768px){
    .mainCart .contenedorSeccion{
        margin: 0 auto;
        text-align: center;
        max-width: 1024px;
    }

    .mainCart .detallesProductoListado{
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-top:0px;
        justify-content: space-around;
    }

    .mainCart .nombreYCaracteristicas {
padding-right: 30px;
    }


    .mainCart .precioYCantidades{
        flex-grow: 0.4;
border-right: 1px solid #d7d7d7;
border-left: 1px solid #d7d7d7;
padding: 0 30px;

    }

    .mainCart .precio_C{
        text-align: center;
    }


    .mainCart .btnEliminarMobile{
        display: none;
    }

    .mainCart .btnEliminar{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        max-width: 50px;
        margin: 0 20px;
        justify-content: center;
    }

    .mainCart .btnEliminar i{
        width: 100%;
        padding-bottom: 5px;
    }

    .mainCart .fa-circle-xmark{
        font-size: 40px;

    }

    .mainCart .Cantidades form{
        margin: 0 auto;
        text-align: center;
    }


    .mainCart .precioUnitario{
        display: flex;
        flex-wrap: wrap;
        border-left: 1px solid #d7d7d7;
        align-self: stretch;
        align-items: center;
        padding: 0 20px;
        color: #666;
        
    }

    .mainCart .precioUnitario span{
        color: #e31a52;
    }


    .mainCart .subtotalFijo{
        display: block;
        position: fixed;
        top: 140px;
        right: 0px;
        color: #e31a52;
        background-color: #000;
        padding: 10px 30px 10px 30px;
        border-radius: 20px 0 0 20px;
        opacity: 0.5;
    }

    .mainCart .subtotalFijo span {
        color: #fff;
    }


}