*{
   
    box-sizing: border-box;  
    font-family: 'Oswald', sans-serif; 
}
body{
    font-family: 'Oswald';
} /*Magenta: #e31a52
Gris claro: #808080
background footer: #131313*/

.main-header{
    
    padding: 20px;
    display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    justify-content:  space-around;
    align-items: center;

}

.main-header img{
    display: flex;
	flex-wrap: wrap;
}

.menu-burger img{
    width: 40px;
}
.login {
    width: 40px;
}
.carrito{
    width: 40px;
}
.lupa{
    width: 40px;
}
.burger-botton{
    display: none;

}
.main-navbar a {
    
    text-decoration: none;
    color: whitesmoke;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.carrusel img{
    width: 100%;
    max-width: 1024px;
}
.carrusel{
    background-color: #131313;
    margin: 0 auto;
    text-align: center;
}

.productos-home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.publicidad-descuento,
.publicidad-subs{
    text-align: center;
}
.publicidad-descuento{
    background-color:#e31a52;
    padding: 40px;
    color: whitesmoke;
   
}
.publicidad-subs{
    background-color: #808080;
    padding: 10%;
}
main button{
    margin-top: 20px;
}
.en-magenta{
    color: #e31a52;
}
.en-negro{
    color: black;
    font-weight: 600;
}
.en-blanco{
    color: whitesmoke;
}

/*.burger-botton sera display:block en el @media para escritorio*/

@media (min-width: 768px){
    .main-header{
        display: flex;
        justify-content: space-between;

    }
    .burger-botton{
        display: none;
        color: aliceblue;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
        
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
}


@media (min-width: 1200px){
    
    .main-header, .main-navbar {
        max-width: 1200px;
        margin: auto; /*si son de bloque con eso se equilibra*/
    }
    .main-header{
        align-items: center; 
        width: 100%;
    }
    .burger-botton{
        display: inline-block;
        display: flex; 
        flex-wrap: wrap;
        
    }
    
    .menu-secundario{
        display: inline-block;
    }
    
    .main-navbar{
        margin-top: 40px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    
}