/* ////////////////// GENERAL ////////////////////////////// */


.mainProduct h2{
    text-align: left;
}

.mainProduct .contenedorPrecio a:hover {
    color: #000;
}

/* ////////////////// Bloque Fotos ////////////////////////////// */

.mainProduct .fotoProducto_P img{
  width: 100%;
  max-width: 400px;
}
.mainProduct .fotoProducto_P{
    margin: 0 auto;
    text-align: center;
}

.mainProduct .contenedorIconosMarca{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px;
    max-width: 400px;
    padding: 0px 50px;
}
.mainProduct .iconosMarcas img{
    max-width: 50px;
}

/* ////////////////// Bloque Caracteristicas ////////////////////////////// */


.mainProduct .contenedorCaracteristicas{
    text-align: left;
}
.mainProduct .caracteristicas_P{
    padding: 10px;
    font-size: 12px;
    border-bottom: #e31a52 1px solid;
    color: #e31a52;
    margin: 0 20px;
}
.mainProduct .contenedorDetallesProducto{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.mainProduct .contenedorDetallesProducto h1{
    text-align: left;
}

.mainProduct .caracteristicas_P span{
    color: #333;
    font-weight: 400;
    padding-left: 5px;
}

/* ////////////////// Bloque Botones y precio ////////////////////////////// */


.mainProduct .contenedorPrecioBotones{
padding: 0px 15px;
}

.mainProduct .contenedorPrecio p{
    padding-left: 15px;
}

.mainProduct .contenedorPrecio{
    display: flex;
    align-items: center;
    
}

.mainProduct .contenedorCantidades{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
}




/* ////////////////// MEDIA QUERYS ////////////////////////////// */


@media (min-width: 768px){
    .mainProduct .contenedorSeccion_P{
        margin: 0 auto;
        text-align: center;
        display: flex;
    }

    .mainProduct .contenedorFotoIconos{
        display: block;
    }

    .mainProduct .contenedorDetallesProducto{
        width: 100%;
        margin: 0px;
        padding-left: 30px;

    }

    .mainProduct .nombreProducto{
        text-align: left;
    }

  

}