
/* ////////////////// GENERAL ////////////////////////////// */

*{
    box-sizing: border-box;  
}

body{
    font-family: 'Oswald', sans-serif; 
}

.seccionIN{
    font-weight: 200;
    letter-spacing: 3px;
    margin: 20px;
}

.txtMagenta{
    color: #e31a52;
}

.grisesSecundarios{
    color: #666;
    font-size: 16px;
    font-weight: 200;
}
a:link, a:visited, a:active {
    text-decoration:none;
}

.contenedorPrecio a:hover {
    color: #000;
}

/* ///////////////////// FIN GENERAL //////////////////////// */

h2 {
    color: #e31a52;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
}
/* main form input {
	background: rgb(236, 236, 236);
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 20px;
    color: black;
} */

/* main input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #afafaf;
} */

/* main input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #afafaf;
} */

.controlGeneral {
    color: #000;
    margin: 20px 0px;
    padding: 50px;
    max-width: 80%;
    margin: auto;
}
.campoFormulario {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-radius: 20px;
}
/* main form div label {
    flex-grow: 0.4;
    max-width: 140px;
    margin-bottom: 10px;
}  */
main form div input {
    flex-grow: 0.6;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
}

.botonVolver {
    background-color: #e31a52;
    /* border: #000 solid 1px; */
    border-radius: 20px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 3px;
    padding: 10px 35px;
    width: 45%;
    transition: all 500ms;
}

.botonRegistro {
    background-color: #000;
    border: #e31a52 solid 1px;
    border-radius: 20px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 3px;
    padding: 10px 35px;
    width: 45%;
    transition: all 500ms;
}

.botonRegistro:hover{
    background-color: #e31a52;
    cursor: pointer;
    transform: scale(1.01);
}

.botonVolver:hover{
    background-color: #000;
    cursor: pointer;
    transform: scale(1.01);
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


/* ////////////// inicio de @media //////////////// */

@media (max-width: 768px){
    .botones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botonRegistro,
    .botonVolver {
        width: 90%;
        margin: 10px 0px;
    }
}