

.mainRegister h2 {
    color: #e31a52;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
}

.mainRegister form {
    display: flex;
    flex-direction: column;
}
/* main form input {
	background: rgb(236, 236, 236);
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 20px;
    color: black;
} */

/* main input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #afafaf;
} */

/* main input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #afafaf;
} */

.mainRegister .controlGeneral {
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    

}
.mainRegister .campoFormulario {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-radius: 20px;
    
}
/* main form div label {
    flex-grow: 0.4;
    max-width: 140px;
    margin-bottom: 10px;
}  */
.mainRegister form div input {
    flex-grow: 0.6;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.mainRegister .btnSecundario, .mainRegister .btnPrincipal {
    width: 48%;
}


.mainRegister .botones {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


/* ////////////// inicio de @media //////////////// */

@media (max-width: 768px){
    .mainRegister .botones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}