<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
        <!-- /////// CARGA CSS  PARTICULAR/////// -->
        <link rel="stylesheet" href="/css/stylesIndex.css">
</head>

<body>
    <%- include ('./partials/header') %>
        <div class="slider">
            <img src="/img/nosotrosImg.jpg" alt="Imagen Nosotros">
        </div>
        <main class="mainIndex">

            <h2> <span class="txtMagenta">\\</span> NOSOTROS <span class="txtMagenta">//</span></h2>
            
            <section>
                <article>
                    <img style="width: 80px;" src="/img/avatars/avatar03.jpg" alt="">
                    <h1>Julieta Chavarria</h1>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ea similique saepe, inventore ratione accusantium porro illum soluta voluptatem vitae dolorum earum, ex assumenda ipsa natus laboriosam? Minima, aliquam excepturi.</p>
                </article>
                <article>
                    <img style="width: 80px;" src="/img/avatars/avatar02.jpg" alt="">
                    <h1>Pablo Bertuccio</h1>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ea similique saepe, inventore ratione accusantium porro illum soluta voluptatem vitae dolorum earum, ex assumenda ipsa natus laboriosam? Minima, aliquam excepturi.</p>
                </article>
                <article>
                    <img style="width: 80px;" src="/img/avatars/avatar10.jpg" alt="">
                    <h1>Romina Diaz</h1>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ea similique saepe, inventore ratione accusantium porro illum soluta voluptatem vitae dolorum earum, ex assumenda ipsa natus laboriosam? Minima, aliquam excepturi.</p>
                </article>
                <article>
                    <img style="width: 80px;" src="/img/avatars/avatar01.jpg" alt="">
                    <h1>Walter Adrian Olivera</h1>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ea similique saepe, inventore ratione accusantium porro illum soluta voluptatem vitae dolorum earum, ex assumenda ipsa natus laboriosam? Minima, aliquam excepturi.</p>
                </article>
            </section>
            
            <img style="width: 800px;" src="/img/d4t_evolucion.jpg" alt="">

        </main>
            <%- include ('./partials/footer') %>
</body>

</html>