<header>
    <nav class="menu1">
        <div class="iconBurgerMobile"><a href="#"><img src="/img/icon_burger.svg" alt=""></a> </div>
        <div class="iconSearchMobile"><a href="#"><img src="/img/icon_search.svg" alt=""></a></div>
        <div class="logo"><a href="/index"><img src="/img/logo.svg" alt=""></a></div>

        <nav class="menu2">
            <div class="seccionActiva"><a href="/index">HOME</a></div>
            <div><a href="/products/products">PC <i class="fa-solid fa-angle-down"></i></a></div>
            <div><a href="#">ACCESORIOS <i class="fa-solid fa-angle-down"></i></a></div>
            <div><a href="/nosotros">NOSOTROS</a></div>
            <div><a href="#">CONTACTO</a></div>
        </nav>

        <form>
            <div class="barraDeBusqueda">
                <input type="text" placeholder="Buscar productos">
                <button><i class="fas fa-search"></i></button>
            </div>
        </form>
        <% if ( locals.isLogged ) { %>
            <div><a href="/products/productCart"><img src="/img/icon_shop.svg" alt=""><span>CARRITO</span></a></div>
            <div class="avatarHeader"><a href="/users/login"><img src="/img/avatars/<%=locals.userLogged.avatar%>" alt=""><span> <%= locals.userLogged.usuario %> </span></a></div>
    
        <% } else { %>
            <div><a href="/users/login"><img src="/img/icon_login.svg" alt=""><span>INGRESAR</span></a></div> 
            <div><a href="/users/register"><img src="/img/icon_register.svg" alt=""><span>REGISTRARSE</span></a></div> 
        <% } %>
    </nav>
</header>