<!DOCTYPE html>
<html lang="en">

<head>
<%- include ('../partials/head') %>
<!-- /////// CARGA CSS  PARTICULAR/////// -->
<link rel="stylesheet" href="../css/stylesLogin.css">
</head>
    <body>
        <%- include ('../partials/header') %>
            <main class="log login-css">

                <div class="iconoLogin">
                    <img src="../img/icon_login.svg">
                </div>

                <h1>INGRESAR</h1>

                <div class="contenedorForms">
                    <form action="/users/login" method="post">
                        <div class="generalCompletar-login">
                            <input class="completar-login" type="email" name="email" placeholder="EMAIL"> 
                            <input class="completar-login" type="password" name="contrasena" placeholder="CONTRASEÑA">
                        </div>
                        <div class="errorMsj">
                        <label> <% if (locals.errors && errors.email ) { %>
                            <p class="msg-errors"> <%= errors.email.msg %> </p>
                            <% } %>
                        </label>
                        </div>

                        <div class="contenedorBoton">
                            <button class="btnPrincipal" type="submit"> INGRESAR</button>
                            <button class="btnSecundario"> <a href="../users/register">REGISTRARSE</a></button>
                            <span> <input class="recordarPass" type="checkbox" name="recordarUsuario"> &nbsp; Recordar contraseña</span>
                        </div>

                    </form>
                </div>

            </main>
            <%- include ('../partials/footer') %>

            
    </body>

</html>